include LICENSE
include README.rst
include nbawebstats/requests.json

recursive-include tests *
recursive-include docs *.rst conf.py generaterequestrst.py Makefile

exclude __pycache__
exclude *.py[co]
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
